body {
    background-color: #DCC2FF;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

div.main {
    padding: 20px 5vw 100px;
}

.title {
    /*margin-bottom: 20px;*/
    margin-top: 20px;

}

span.title {
    font-weight: 900;
    width: 100%;
    font-family: 'komu-a';
    letter-spacing: 10px;
    display: block;
    /*font-size: 10em;*/
    /*text-transform: uppercase;*/
    margin: 200px 0 50px;
    padding: 0;
}

p {
    font-family: 'roboto-mono';
    font-size: 0.8em;
    max-width: 650px;
    line-height: 2em;
}

footer p {
    max-width: 100%;
}

.quotes {
    padding: 20px;
    margin-top: 20px;
    border-left: solid 1px black;
}